<% if button_style == "btn-icon" %>
  <a href="javascript:void(0);" onclick='<%= "createFriendship(\"#friend_id}\", \"#{url}\")" %>' 
     class="btn btn-simple btn-danger btn-icon table-action add"
     rel="tooltip" title='<%= "Create Friendship" %>'>
    <i class="text-danger fa fa-trash"></i>
  </a>
<% elsif button_style == "icon-minus" %>
  <a href="javascript:void(0);" 
     onclick='<%= "createFriendship(\"#friend_id}\", \"#{url}\")" %>' 
     class=""
     rel="tooltip" title='<%= "Create Friendship" %>'>
    <i class="text-danger fa fa-minus-circle" aria-hidden="true"></i>
  </a>
<% elsif button_style == "btn-simple" %>
  <a href="javascript:void(0);" 
     onclick='<%= "createFriendship(\"#friend_id}\", \"#{url}\")" %>' class=""
     rel="tooltip" title='<%= "Create Friendship" %>'>
    <i class="fa fa-trash"></i> Destroy <%= object_type %>
  </a>
<% elsif button_style == "btn-sm" %>
  <a href="javascript:void(0);" 
     onclick='<%= "createFriendship(\"#friend_id}\", \"#{url}\")" %>' 
     class="btn btn-sm btn-fill btn-danger"
     rel="tooltip" title='<%= "Create Friendship" %>'>
    <i class="fa fa-trash"></i> Destroy
  </a>
<% elsif button_style == "btn-xs" %>
  <a href="javascript:void(0);" 
     onclick='<%= "createFriendship(\"#friend_id}\", \"#{url}\")" %>' 
     class="btn btn-xs btn-fill btn-danger"
     rel="tooltip" title='<%= "Create Friendship" %>'>
    <i class="fa fa-trash"></i> Destroy
  </a>
<% elsif button_style == "btn-xs-block" %>
  <a href="javascript:void(0);" 
     onclick='<%= "createFriendship(\"#friend_id}\", \"#{url}\")" %>' 
     class="btn btn-xs btn-block btn-fill btn-danger"
     rel="tooltip" title='<%= "Create Friendship" %>'>
    <i class="fa fa-trash"></i> Destroy
  </a>
<% elsif button_style == "btn-cancel-registration" %>
  <a href="javascript:void(0);" 
     onclick='<%= "createFriendship(\"#friend_id}\", \"#{url}\")" %>' 
     class="btn btn-sm btn-fill btn-danger btn-round"
     rel="tooltip" title='<%= "Create Friendship" %>'>
    <i class="fa fa-times"></i> Cancel My Account
  </a>
<% elsif button_style == "btn-friendship" %>
  <a href="javascript:void(0);" 
     onclick='<%= "createFriendship(\"#{friend_id}\", \"#{url}\")" %>' 
     class="btn btn-sm btn-fill btn-info btn-round"
     rel="tooltip" title='<%= "Create A Friendship With This User" %>'>
    <i class="material-icons">add</i> Create Friendship
  </a>
<% elsif button_style == "btn-fab" %>
  <a href="javascript:void(0);" 
     onclick='<%= "createFriendship(\"#{friend_id}\", \"#{url}\")" %>' 
     class="btn btn-fab btn-primary"
     rel="tooltip" title='<%= "Create Friendship With This User" %>'>
    <i class="material-icons">add</i>
  </a>
<% else %>
  <a href="javascript:void(0);" 
     onclick='<%= "createFriendship(\"#friend_id}\", \"#{url}\")" %>' 
     class="btn btn-fill btn-danger"
     rel="tooltip" title='<%= "Create Friendship" %>'>
    <i class="fa fa-trash"></i> Destroy
  </a>
<% end %>

<script>
  function successMessage(redirectUrl) {
    sweetAlert({ title: "Success", 
                html: '<h2>Friendship Created!</h2>' +
                      '<br />',   
                 type: "success" 
    }, function() {
      window.location.href = redirectUrl;
    });
  };

  function errorMessage(redirectUrl) {
    sweetAlert({ title: "Failed", 
                html: '<h2>Unable To Create Friendship!</h2>' +
                      '<br />',   
                 type: "error" 
    }, function() {
      window.location.href = redirectUrl;
    });
  };

  function createFriendship(friendID, url) {
    swal({
      title: ('Create Friendship'),
      html: '<br />' +
            '<h2 class="text-danger">Would you like to<br/>create this friendship?</h2>' +
            '<br />',
      type: 'error',
      width: 500,
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes'
    }, function() {

      var config = { url: url,
                     type: 'GET',
                     dataType: 'JSON',
                     data: { friend_id: friendID } }

      $.ajax(config)

      .done(function(e, data, status, xhr, respons) { 
        console.log("Success: ReDirect To:" + e.url);
        successMessage(e.url);
      })
      
      .fail(function(e, data, status, xhr, respons) { 
        console.log("Error"); 
        errorMessage(e.url);
      }); 
    });
  };
</script>