<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-minimize">
			<button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
		</div>
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar bar1"></span>
				<span class="icon-bar bar2"></span>
				<span class="icon-bar bar3"></span>
			</button>
			<%= link_to main_app.root_path, class: "navbar-brand" do %>
      	Action Cable Chat
    	<% end %>
		</div>
		
		<div class="collapse navbar-collapse">
			<form class="navbar-form navbar-left navbar-search-form" role="search">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input type="text" value="" class="form-control" placeholder="Search...">
				</div>
			</form>
			
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle <%= current_user.notifications_status[0] %>" data-toggle="dropdown">
	            <i class="material-icons"><%= current_user.notifications_status[1] %></i>
	            <%= current_user.notifications.unread.count %> Notification<%= 's' unless current_user.notifications.unread.count == 1 %>
	          </a>        
	          
	          <ul id="notifications" class="dropdown-menu text-center chat">
		          <% if @notifications.count == 0 %>
		          	<li>
									<div class="col-md-12 text-center">
								  	<button class="btn btn-primary btn-block btn-raised">
								    	<div>
								    		No Notifications
								    	</div>
								  	</button>
								  </div>
								</li>
		          <% elsif @notifications.unread.count > 0 %>
		            <% @notifications.unread.each do |notification| %>
		            	<%= render partial: "layouts/partials/notification", locals: { notification: notification } %>
		            <% end %>

		            <% @notifications.read.each do |notification| %>
		            	<%= render partial: "layouts/partials/notification_slim", locals: { notification: notification } %>
		            <% end %>

	            	<li><%= link_to "View All Notifications", user_notifications_path(current_user), class: "btn btn-default btn-block btn-raised" %></li>
		          <% else %>
		            <% @notifications.each do |notification| %>
		            	<%= render partial: "layouts/partials/notification_slim", locals: { notification: notification } %>
		            <% end %>

	            	<li><%= link_to "View All Notifications", user_notifications_path(current_user), class: "btn btn-default btn-block btn-raised" %></li>
		          <% end %>
	          </ul>
	        </li>

					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            <i class="material-icons">build</i>
							<p>Admin Settings</p>
	          </a>        
	          
	          <ul class="dropdown-menu">
	          	<li class="dropdown-header text-center">Administrator Controls</li>

	            <li><%= link_to "Manage Notifications", main_app.notifications_path %></li>
	          </ul>
	        </li>

					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            <i class="material-icons">account_circle</i>
							<p>Account Settings</p>
	          </a>        
	          
	          <ul class="dropdown-menu">
	          	<li class="dropdown-header text-center"><%= current_user.username %></li>

	            <li><%= link_to "Profile", main_app.profile_path %></li>
							<li><%= link_to 'Edit Profile', main_app.edit_user_registration_path %></li>
							<li><%= link_to "Logout", main_app.destroy_user_session_path, method: :get %></li>
	          </ul>
	        </li>
				<% else %>
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<p>Login | Register</p>
	          </a>        
	          
	          <ul class="dropdown-menu">
	            <li><%= link_to "Login", main_app.new_user_session_path %></li>
							<li><%= link_to "Register", main_app.new_user_registration_path %></li>
	          </ul>
	        </li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>