<div class="sidebar" data-background-color="brown" data-active-color="danger">
<!--
Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->
	<div class="logo">
		<%= link_to main_app.root_path, class: "simple-text" do %>
      Chat Application
    <% end %>
	</div>
	
	<div class="logo logo-mini">
		<%= link_to main_app.root_path, class: "simple-text" do %>
      DU
    <% end %>
	</div>
		
	<div class="sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<% if user_signed_in? %>
					<%= image_tag(current_user.thumb) %>
				<% end %>
			</div>
			
			<div class="info">
				<a data-toggle="collapse" href="#collapseExample" class="collapsed">
					<%= user_signed_in? ? current_user.username : "Login / Register" %>
					<b class="caret"></b>
				</a>
				
				<div class="collapse" id="collapseExample">
					<ul class="nav">
						<% if user_signed_in? %>
							<li><%= link_to "Profile", main_app.profile_path %></li>
							<li><%= link_to 'Edit Profile', main_app.edit_user_registration_path %></li>
							<li><%= link_to "Logout", main_app.destroy_user_session_path, method: :get %></li>
						<% else %>
							<li><%= link_to 'Login', main_app.new_user_session_path %></li>
            	<li><%= link_to 'Register', main_app.new_user_registration_path %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		
		<ul class="nav">
			<% if user_signed_in? %>
				<li>
					<a data-toggle="collapse" href="#chatroomsDropdown">
						<i class="ti-comments"></i>
						<p>My Chatrooms
							<b class="caret"></b>
						</p>
					</a>
					
					<div class="collapse" id="chatroomsDropdown">
						<ul class="nav">
							<% if current_user.chatrooms.count == 0 %>
								<li class="text-center text-warning dropdown-header"><h5>You Have Not Joined<br/>Any Chatrooms</h5></li>
								
								<li><%= link_to "View All Chatrooms", main_app.chatrooms_path %>
										
								</li>
							<% else %>
								<% current_user.chatrooms.each do |chatroom| %>
									<li><%= link_to "#{chatroom.name}", main_app.chatroom_path(chatroom) %></li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>


	